<label>Server Name</label>

<!-- DATA BINDING -->

<!-- <input type="text"
class="form-control"
(input)="onUpdateServerName($event)"> -->

<!-- 2 WAY BINDING -->

<input type="text"
class="form-control"
[(ngModel)]="serverName">

<!-- <p> {{ serverName }}</p> -->

<button
class="btn btn-primary"
[disabled]="!allowNewServer"
(click)="onCreateServer()">Add server</button>

<!-- Afficher allowNewServer:

en string interpolation: -->
<!-- <p> {{ serverCreationStatus }}</p> -->

<!-- ngif - condition -> -->
<p *ngIf="serverCreated; else noServer">Server was created. Server name is {{serverName}}</p>
<ng-template #noServer>
  <p>
    No server was created.
  </p>
</ng-template>

<!-- en property binding: -->
<!-- <p [innerText]="allowNewServer"></p> -->

<app-server></app-server>
<app-server></app-server>

