<label>Server Name</label>

<!-- DATA BINDING -->

<!-- <input type="text"
class="form-control"
(input)="onUpdateServerName($event)"> -->

<!-- 2 WAY BINDING -->

<input type="text"
class="form-control"
[(ngModel)]="serverName">

<!-- <p> {{ serverName }}</p> -->

<button
class="btn btn-primary"
[disabled]="!allowNewServer"
(click)="onCreateServer()">Add server</button>

<!-- Afficher allowNewServer:

en string interpolation: -->
<!-- <p> {{ serverCreationStatus }}</p> -->

<!-- ngif - condition -> -->
<p *ngIf="serverCreated">server was created. Server name is {{serverName}}</p>

<!-- en property binding: -->
<!-- <p [innerText]="allowNewServer"></p> -->

<app-server></app-server>
<app-server></app-server>

